/*
 *= require_self
 *= require bootstrap
 *= require forms
 *= require site
 *= require style
 *= require styles
 *= require master
 *= require bootstrap-theme
 */

body {
	font-family: "Proxima Nova" !important;
	font-weight: 100 !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100 !important;
}

.wrapper {
	width: 80% !important;
	margin: 0 auto !important;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: #9B9B9B;
}

header {
	width: 100%;
	padding: 2rem 0;
	border-bottom: 1px solid #E4E4E4;
	#logo {
		float: left;
		font-size: 1.75rem;
		a {
			color: #333233;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
	nav {
		float: right;
		a {
			margin-left: 1.5rem;
			line-height: 2;
			color: #9B9B9B;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
}

@import 'home.css.scss';
@import 'post.css.scss';