.field .field-label {
    font-weight: bold;
}
.field-label-inline .field-label,
.field-label-inline .field-items {
    float: left;
}
form .field-multiple-table {
    margin: 0;
}
form .field-multiple-table th.field-label {
    padding-left: 0;
}
form .field-multiple-table td.field-multiple-drag {
    width: 30px;
    padding-right: 0;
}
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
    padding-right: .5em;
}
form .field-add-more-submit {
    margin: .5em 0 0;
}
div.toboggan-container {
    text-align: center;
}
div.toboggan-login-link-container {
    text-align: left;
}
div.toboggan-login-link-container a {
    text-decoration: none;
}
div.toboggan-block-message {
    text-align: left;
}
div.user-login-block {
    text-align: left;
}
div.user-login-block a {
    text-align: left;
}
.toboggan-unified #login-message {
    text-align: center;
    font-size: 2em;
    line-height: 1.2;
}
.toboggan-unified #login-links {
    text-align: center;
    font-size: 1.5em;
    line-height: 2.7;
}
.toboggan-unified #login-links a {
    padding: .5em;
    border: 1px #666 solid;
    background-color: #EEE;
}
.toboggan-unified #login-links a:hover {
    background-color: #DDD;
}
.toboggan-unified #login-links a.lt-active,
.toboggan-unified #login-links a.lt-active:hover {
    background-color: #FFF19A;
    border: 2px #333 solid;
}
.toboggan-unified.login #register-form {
    display: none;
}
.toboggan-unified.register #login-form {
    display: none;
}
.node-unpublished {
    background-color: #fff4f4;
}
.preview .node {
    background-color: #ffffea;
}
td.revision-current {
    background: #ffc;
}
.views-exposed-form .views-exposed-widget {
    float: left;
    padding: .5em 1em 0 0;
}
.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
}
.views-exposed-form .form-item,
.views-exposed-form .form-submit {
    margin-top: 0;
    margin-bottom: 0;
}
.views-exposed-form label {
    font-weight: bold;
}
.views-exposed-widgets {
    margin-bottom: .5em;
}
.views-align-left {
    text-align: left;
}
.views-align-right {
    text-align: right;
}
.views-align-center {
    text-align: center;
}
.views-view-grid tbody {
    border-top: none;
}
.view .progress-disabled {
    float: none;
}
.rteindent1 {
    margin-left: 40px;
}
.rteindent2 {
    margin-left: 80px;
}
.rteindent3 {
    margin-left: 120px;
}
.rteindent4 {
    margin-left: 160px;
}
.rteleft {
    text-align: left;
}
.rteright {
    text-align: right;
}
.rtecenter {
    text-align: center;
}
.rtejustify {
    text-align: justify;
}
.ibimage_left {
    float: left;
}
.ibimage_right {
    float: right;
}